<%= link_to "Create New Coupon", new_merchant_coupon_path %>

<% @coupons.each do |coupon| %>
  <section id="coupon-<%= coupon.id %>">
    <%= coupon.name %>
    <%= coupon.code %>
    <%= coupon.percent_off %>
    <%= link_to "Edit Coupon", edit_merchant_coupon_path(coupon) %>
    <% if coupon.orders.empty? %>
      <%= link_to "Delete Coupon", merchant_coupon_path(coupon), method: :delete %>
    <% end %>
  </section>
<% end %>
